<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>クイズアプリ</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="title">ようこそ</h1>
    <hr>
    <p class="text">下記ボタンをクリック</p>
    <hr>
    <a class="btn-square" href="/quiz">開始</a>
  </div>
</body>
</html>
