<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>クイズアプリ</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1 id="title">取得中</h1>
    <ul id="info">
      <li id="category"></li>
      <li id="difficulty"></li>
    </ul>
    <hr>
    <p id="question">少々お待ちください</p>
    <hr>
    <div id="answer-list">
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
